<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Markdown2HTML</title>
    <link rel="stylesheet" title="Default" href="styles/googlecode.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css" rel="stylesheet">
</head>

<body>
    <h1><i class="em em-joy"></i></h1>
    <div class="container">
        <div class="row">
            <div class="col-md-9" role="main">
                {{include './temp'}}
            </div>
            <div class="col-md-3" role="nav">

                <nav>
                    <ul>
                        {{each target}}
                        <li>
                            <a href="#{{$value.name}}">{{$value.name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>

</html>